// Custom styles.
  body {
    background-color: #ecf5fd;
    color:#5b6065;
  }

  .footer {
    font-size: 12px;
    color:#5b6065;

  }

    .main-inner {                               // 配置文章区域

    }
    .header-inner {                             // 配置网站头

    }
    .sidebar {                                  // 配置侧边栏

    }
    .posts-expand .post-tags a {
      border-bottom: none;
    }

.posts-expand .post-title, .post-body {
  font-weight: 400;
}

.posts-expand {
  padding-top: 8px;
}
.site-meta, .btn:hover {
  background-color: #72797e;
}
.btn {
  border: 1px solid #72797e;
  border-radius: 2px;
}
.post-copyright {
  border-left: 3px solid #e4e6fd;
  font-size: 13px;
  font-weight: 200px;
}
.v[data-class=v] .vempty {
  display: none;
}
h3 {
  font-size: 17px;
  color: #56AEF3;
  font-family: "smz","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.headband {
  height: 1px;
  background: #5b6065;
}
.posts-expand .post-eof {
  margin: 50px auto 50px;
  width: 35%
}
::selection {
  background: #72797e;
}
